/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}
.Olympus-navbar{
	background-color: #000000 !important;
}
.Olympus-header{
    position: absolute !important;
    width: 100vw;
    top: 5px !important;
    margin: 0 !important;
	display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 150px;
    background-image: url('../img/olympus.png');
}
.page-content{
	padding-top: 50px !important;
}
.picker-keypad-button-letters{
	display: none;
}
.picker-keypad-button{
	background-color: #000000 !important;
	color: #ffffff;
	border-color: #ffffff;
}
.picker-keypad-button-dark{
	background-color: #ffffff !important;
	color: #000000 !important;
}
/*-------------Login Screens------------*/

.regText{
	color: #ffffff !important;
}
.forgotText{
	color: #ff9800 !important;
}

.loginTitle{
	text-align: center;
	font-size: 20px;
	padding: 7px;
}

.modal-button{
	color: #212121 !important;
}
.input-field:after{
	background-color: #000000 !important;

}
.popup-overlay{
	display: none !important;
}

.logimg{
	height: 50px;
	margin: 5px;
	display: block;
	 margin-left: auto;
    margin-right: auto;
}

.button-big{
	border: 2px solid;
	margin-right: 10px !important;
	margin-left: 10px !important;
	border-color: #ff9800 !important;
}
.button-normal{
	border: 2px solid;
	margin: 0 auto;
	width: 200px !important;
	border-color: #ff9800 !important;
}

/*-------------Left Menu------------*/
.left-block{
	margin-top: -25px !important;
}
.leftPanelName{
    text-align: right;
    padding: 0 20px 0 0;
    margin: 0px 0 10px 0;
    font-size: 20px;
    color:#FFFFFF;
}
.leftPanelPoints{
    text-align: right;
    padding: 0 20px 0 0;
    margin: 0px 0 20px 0;
    font-size: 15px;
    color:#ff9800;
}
.leftPanelExit{
    text-align: right;
    padding: 0 20px 0 0;
    margin: 0px 0 40px 0;
    font-size: 15px;
    color:#FFFFFF;
    text-decoration: underline;
}


.leftPanelColumn{
    display: inline-block;
  
}

.leftPanelButton{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35px;
    width: 220px;
    color:#FFFFFF;
    height: 60px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: left;
    padding: 0 0 0 50px;
    font-size: 19px;
    border-top-style: solid;
    border-top-width:1px;
    border-color: #FFFFFF;
}

.leftPanelButton.active-state{

    background-color: #333333;
}

.profilePanel{
	background-image: url('../img/Profile.png');
}
.salePanel{
	background-image: url('../img/Sale.png');
}
.transPanel{
	background-image: url('../img/Money.png');
}
.bonusPanel{
	background-image: url('../img/Bonus.png');
}
.sertPanel{
	background-image: url('../img/Sert.png');
}
.contactPanel{
	background-image: url('../img/Contact.png');
}

/*-------------Sell input------------*/

.picker-calendar,.picker-header,.toolbar,.picker-footer,.picker-calendar-week-days{
	color: #ffffff !important;
	background-color: #000000 !important;
}
.picker-calendar-day-selected span{
	color: #000000 !important;
}
.cropImage{
    margin: 10px auto;
    text-align: center;
}
.billImage{
	max-width: 200px;
}

.white-border-block{
	border: 2px solid #ffffff;
	border-radius: 4px;
	padding: 10px;
	margin: 0 5px 10px 5px;
}

.product-title{
	margin-right: 10px;
}
.product-serial,.product-title{
	display:block !important;
	text-overflow: clip !important;
	white-space: normal !important;
}


.back-button{
    display: block;
    width: 100px !important;
    margin: 20px  auto 10px 10px !important;
}

.content-block-title{
    padding-top: 0px !important;
}

.layout-dark .item-inner:not(.focus-state):not(.not-empty-state) .item-input-field:after, .layout-dark .item-inner:not(.focus-state):not(.not-empty-state) .input-field:after {
    background-color: rgba(255, 255, 255, 1) !important;
}

.item-media{
    text-align: center;
    height: 40px;
    white-space: nowrap;
}
.delete_helper{
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}
.delete_cross{
    width: 20px;
    vertical-align: middle;
    padding: auto;
}
.item-inner:after{
    height: 5px !important;
}
.list-block .input-item .item-inner:after, .list-block.inputs-list .item-inner:after {
     display: block; 
}

.white-button{
    margin-top: 20px;
    border-color: #ffffff !important;
}