<!DOCTYPE html>
<html ng-cloak ng-app="Olymp" class="ng-scope with-statusbar-overlay">
<head>
    <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
<!--     <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"> -->
<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Olympus</title>

    <link rel="stylesheet" href="lib/framework7/css/framework7.material.min.css">
    <link rel="stylesheet" href="lib/framework7/css/framework7.material.colors.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="lib/framework7/js/framework7.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/my-app.js"></script>
    <script src="js/InitService.js"></script>
    <script src="js/mainController.js"></script>
</head>

<body class="theme-white layout-dark" ng-controller="mainController as mainCtrl">
    <div class="statusbar-overlay"></div>

    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <p>Left panel content goes here</p>
        </div>
    </div>

    <!-- Views -->
    <div class="views">

        <!-- main view -->
        <div class="view view-main">

            <div class="pages navbar-fixed toolbar-fixed">

                <div data-page="index" class="page">
                    <div class="navbar no-border">
                        <div class="navbar-inner">
                            <div class="center color-black sliding">Olympus Europa</div>
                            <div class="right">
                                <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="content-block">
                           <div class="content-block-title">Информация</div>
                            <div class="card">
                              <div class="card-content">
                                <div class="card-content-inner">
                                Имя - {{mainCtrl.user.first_name}}<br>
                                Фамилия - {{mainCtrl.user.last_name}}<br>
                                Почта - {{mainCtrl.user.email}}<br>
                                Телефон - {{mainCtrl.user.phone_mobile}}<br>
                                Баланс - {{mainCtrl.user.balance}}<br>
                                ID - {{mainCtrl.user.profile_id}}<br></div>
                              </div>
                            </div>
                            <div class="card" ng-hide="mainCtrl.user.blocking_reason==null">
                              <div class="card-content">
                                <div class="card-content-inner">
                                    {{mainCtrl.user.blocking_reason}}
                              </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>

<!-- ===========Login Screen============ -->
    <div class="login-screen popup log tablet-fullscreen">
      <div class="view">
        <div class="page">
          <div class="page-content login-screen-content">
            <div class="loginTitle">Авторизация</div>
            <!-- Login form -->
            <form id="login-form">
              <div class="list-block">
                <ul>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Телефон</div>
                      <div class="item-input">
                        <input type="text" name="phone" placeholder="+7-495-1234567">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Пароль</div>
                      <div class="item-input">
                        <input type="password" name="password" placeholder="******">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="list-block">
                <ul>
                  <li>
                    <a href="#" ng-click="mainCtrl.PullLoginForm()" class="item-link button button-raised button-big color-white bg-black">Войти</a>
                  </li>
                </ul>
                <div class="list-block-label">
                    <p><a href="#" data-popup=".pre-reg" class="open-popup regText">Регистрация</a></p>
                </div>
               <!--  <div class="list-block-label">
                    <p><a href="#" class="regText" ng-click="mainCtrl.forgotPass()">Забыли пароль?</a></p>
                </div> -->
              </div>
            </form>

          </div>
        </div>
      </div>
  </div>

  <div class="popup pre-reg tablet-fullscreen">
      
      <div class="view">
        <div class="page">

          <div class="page-content login-screen-content">
            <div class="loginTitle">Введите свой телефон</div>
            <!-- Login form -->
            <form id="pre-reg-form">
              <div class="list-block">
                <ul>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Телефон</div>
                      <div class="item-input">
                        <input type="text" name="phone" placeholder="71234567890">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="list-block">
                <ul>
                  <li>
                    <a href="#" ng-click="mainCtrl.SendSMS()" class="item-link button button-raised button-big color-white bg-black">Отправить СМС</a>
                  </li>
                </ul>
                <div class="list-block-label">
                    <p><a href="#" data-popup=".pre-reg" class="close-popup regText">Назад</a></p>
                </div>
              </div>
            </form>


          </div>
        </div>
      </div>

  </div>

  <div class="popup reg tablet-fullscreen">
      <div class="view">
        <div class="page">
          <div class="page-content login-screen-content">
            <div class="loginTitle">Регистрация</div>
            <!-- Login form -->
            <form id="reg-form">
              <div class="list-block">
                <ul>
                <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Дилер</div>
                      <div class="item-input">
                        <input type="text" id="dropdown_dealer" ng-value="mainCtrl.DropSelected.name" ng-click="mainCtrl.DropDealer.open()" readonly placeholder="...">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Город</div>
                      <div class="item-input">
                        <input type="text" id="dropdown_city" ng-value="mainCtrl.DropSelected.city" ng-click="mainCtrl.DropCity.open()" readonly placeholder="...">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Адрес</div>
                      <div class="item-input">
                        <input type="text" id="dropdown_address" ng-value="mainCtrl.DropSelected.address" ng-click="mainCtrl.DropAddress.open()" readonly placeholder="...">
                      </div>
                    </div>
                  </li>

                <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Почта</div>
                      <div class="item-input">
                        <input type="text" name="email" placeholder="example@mail.com">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Пароль</div>
                      <div class="item-input">
                        <input type="password" name="password" placeholder="***">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Повторить пароль</div>
                      <div class="item-input">
                        <input type="password" name="passwordCompare" placeholder="***">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Фамилия</div>
                      <div class="item-input">
                        <input type="text" name="last_name" placeholder="...">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Имя</div>
                      <div class="item-input">
                        <input type="text" name="first_name" placeholder="...">
                      </div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Отчество</div>
                      <div class="item-input">
                        <input type="text" name="middle_name" placeholder="...">
                      </div>
                    </div>
                  </li>
                  <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Принимаю соглашение</div>
                      <div class="item-input">
                        <label class="label-switch">
                          <input name="agreeWithTerms" type="checkbox" checked>
                          <div class="checkbox"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title label">Даю согласие на обработку данных</div>
                      <div class="item-input">
                        <label class="label-switch">
                          <input name="allowPersonalDataProcessing" type="checkbox" checked>
                          <div class="checkbox"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>
                </ul>
              </div>
              <div class="list-block">
                <ul>
                  <li>
                    <a href="#" ng-click="mainCtrl.Register()" class="item-link button button-raised button-big color-white bg-black">Регистрация</a>
                  </li>
                </ul>
                <div class="list-block-label">
                    <p><a href="#" data-popup=".reg" class="close-popup regText">Отмена</a></p>
                </div>
              </div>
            </form>

          </div>
        </div>
    </div>
  </div>


    
</body>

</html>