/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

body{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.statusbar-overlay {
    background: #000;
}
.photo-browser.photo-browser-dark .photo-browser-swiper-container {
    background: #000 !important;
}
/*.photo-browser-next, .photo-browser-prev{
    background: #0d0d0d !important;
}*/
.Olympus-navbar{
	background-color: #000 !important;
}
.Olympus-header{
    position: absolute !important;
    width: 100vw;
    top: 5px !important;
    margin: 0 !important;
	display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 150px;
    background-image: url('../img/olympus.png');
}
.page-content{
	padding-top: 50px !important;
}
.picker-keypad-button-letters{
	display: none;
}
.picker-keypad-button{
	background-color: #000 !important;
	color: #ffffff;
	border-color: #ffffff;
}
.picker-keypad-button-dark{
	background-color: #ffffff !important;
	color: #000 !important;
}
/*-------------Login Screens------------*/

.regText{
	color: #ffffff !important;
}
.orangeText{
	color: #ff9800 !important;
}

.loginTitle{
	text-align: center;
	font-size: 20px;
	padding: 7px;
}

.modal-button{
	color: #212121 !important;
}
.input-field:after{
	background-color: #000000 !important;

}
.popup-overlay{
	display: none !important;
}

.logimg{
	height: 50px;
	margin: 5px;
	display: block;
	 margin-left: auto;
    margin-right: auto;
}

.button-big{
	border: 2px solid;
	margin-right: 10px !important;
	margin-left: 10px !important;
	border-color: #ff9800 !important;
}
.button-normal{
	border: 2px solid;
	margin: 0 auto;
	width: 200px !important;
	border-color: #ff9800 !important;
}

/*-------------Left Menu------------*/
.left-block{
	margin-top: -25px !important;
}
.leftPanelName{
    text-align: right;
    padding: 0 20px 0 0;
    margin: 0px 0 10px 0;
    font-size: 20px;
    color:#FFFFFF;
}
.leftPanelPoints{
    text-align: right;
    padding: 0 10px 0 0;
    margin: 0px 0 0px 0;
    font-size: 14px;
    color:#ff9800;
}
.leftPanelExit{
    text-align: right;
    padding: 0 20px 0 0;
    margin: 0px 0 40px 0;
    font-size: 15px;
    color:#FFFFFF;
    text-decoration: underline;
}


.leftPanelColumn{
    display: inline-block;
  
}

.leftPanelButton{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 35px;
    width: 220px;
    color:#FFFFFF;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    text-align: left;
    padding: 0 0 0 50px;
    font-size: 19px;
    border-top-style: solid;
    border-top-width:1px;
    border-color: #FFFFFF;
}

.leftPanelButton.active-state{

    background-color: #333333;
}

.profilePanel{
	background-image: url('../img/Profile.png');
}
.salePanel{
	background-image: url('../img/Sale.png');
}
.transPanel{
	background-image: url('../img/Money.png');
}
.bonusPanel{
	background-image: url('../img/Bonus.png');
}
.sertPanel{
	background-image: url('../img/Sert.png');
}
.contactPanel{
	background-image: url('../img/Contact.png');
}
.formPanel{
    background-image: url('../img/Form.png');
}

/*-------------Sell input------------*/

.picker-calendar,.picker-header,.toolbar,.picker-footer,.picker-calendar-week-days{
	color: #ffffff !important;
	background-color: #000 !important;
}
.picker-calendar-day-selected span{
	color: #000000 !important;
}
.takeImage{
    display: inline-block !important;
    width: 150px !important;
}
.cropImage{
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    width: 50px;
    height: 50px;
}
.billImage{
	max-width: 50px;
}

.white-border-block{
	border: 2px solid #ffffff;
	border-radius: 4px;
	padding: 10px;
	margin: 0 5px 10px 5px;
}

.product-title{
	margin-right: 10px;
}
.product-serial,.product-title{
	display:block !important;
	text-overflow: clip !important;
	white-space: normal !important;
}

/*-------------Not sorted------------*/

.back-button{
    display: block;
    width: 100px !important;
    margin: 20px  auto 10px 10px !important;
}

.content-block-title{
    padding-top: 0px !important;
}

.layout-dark .item-inner:not(.focus-state):not(.not-empty-state) .item-input-field:after, .layout-dark .item-inner:not(.focus-state):not(.not-empty-state) .input-field:after {
    background-color: rgba(255, 255, 255, 1) !important;
}
.item-title{
    text-overflow: clip !important;
    white-space: normal !important;
}
.item-media{
    text-align: center;
    height: 40px;
    white-space: nowrap;
    border-radius: 100%;
}
.delete_helper{
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}
.delete_cross{
    width: 25px;
    vertical-align: middle;
    padding: auto;
    padding-right: 5px;
}

.list-block .input-item .item-inner:after, .list-block.inputs-list .item-inner:after {
    display: block; 
    height: 2px !important;
    position: absolute;
    bottom: 3px;
    width: 80vw;
}

.white-button{
    margin-top: 20px;
    border-color: #ffffff !important;
}
.button-left{
    margin: 10px;
}
.button{
    text-overflow: clip !important;
    background-color: #000 !important;
}

.no-items-message{
    text-align: center;
    width: 100vw;
    margin-top: 30px;
}

.list-block ul:before,.list-block ul:after{
    display: none !important;
}

.label-switch .checkbox{
    background: rgba(255, 255, 255, 0.1) !important;
}

.theme-white .label-switch input[type="checkbox"]:checked + .checkbox, .label-switch.theme-white input[type="checkbox"]:checked + .checkbox {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.tab-link{
    background-color: #0d0d0d !important;
}
.timeline-item-date{
    white-space: nowrap;
}
.focus-state .label{
    color: #ffffff !important;
}

.card-header-pic .card-header {
    height: 50vw;
    background-size: 100%;
    background-position: center;
    position: relative;
  }
.card-layer{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    padding: 20px;
    box-sizing: border-box;
}

.picker-columns {
    background-color: #212121;
}
.picker-item {
    color: #ffffff !important;
}
/*.picker-center-highlight{
    right: auto !important;
    left: auto !important;
    width: 100px !important;
}*/
.picker-center-highlight:after,.picker-center-highlight:before {
    background-color: #ffffff !important;
}
.card-title{
    padding: 0 0 10px 10px;
    text-transform: uppercase;
}
.card-image{
    width: 90vw;
}

.card-history{
    padding: 5px;
    margin: 5px;
    background-color: #000;
    border-radius: 10px;
}

.collapse-text{
    text-overflow: ellipsis !important;
    max-height: 100px;
}

/*.item-input-field{
        text-overflow: clip !important;
    white-space: normal !important;
}*/

.empty-space{
    height: 200px;
    width: 100%;
}

.align-center{
    text-align: center;
}

.banner_container{
    text-align: center;
    margin-top: 10px;
}
.banner_image{
    width: 100vw;
}